<div fxLayout="column" class="mt-20">
      
    <strong (click)="salir.emit()">Regresar</strong>
    <mat-form-field>
        <mat-label>Host</mat-label>
        <input matInput [(ngModel)]="nicho.database.server" placeholder="Host">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput [(ngModel)]="nicho.database.username" placeholder="Usuario">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="nicho.database.password" placeholder="Password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Database</mat-label>
        <input matInput [(ngModel)]="nicho.database.database" placeholder="Database">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button class="mr-8" (click)="cancelar()">Cancelar</button>
        <button mat-raised-button (click)="guardarConfiguracionBD()">Guardar</button>
        <button mat-raised-button class="mr-8" (click)="testBD()">Validar Conexion</button>
        <button mat-raised-button (click)="crearEstructuraBD()">
            Crear Estructura
            <span style="color: green;">{{nicho.database.estructura ? 'Estructura creada' : ''}}</span>
        </button>
        <button mat-raised-button class="ml-12">
            <i class="fa-solid fa-circle-check font-size-20"  
               [ngClass]="{'green-fg': nicho.database.ambiente?.local, 'red-fg': !nicho.database.ambiente?.local}"></i>
        </button>
        <button mat-raised-button class="mx-12" (click)="subirModificacionesDEV()">
            <i class="fa-brands fa-dev font-size-20 px-12" 
               [ngClass]="{'green-fg': nicho.database.ambiente?.dev, 'red-fg': !nicho.database.ambiente?.dev}"></i>
        </button>
        <button mat-raised-button>
            <i class="fa-brands fa-product-hunt font-size-20" 
               [ngClass]="{'green-fg': nicho.database.ambiente?.prod, 'red-fg': !nicho.database.ambiente?.prod}"></i>   
        </button>
    </div>
</div>