<div fxLayout="column">
    <mat-form-field>
        <mat-label>Host</mat-label>
        <input matInput placeholder="Host">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Database</mat-label>
        <input matInput placeholder="Database">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button class="mr-8">Cancelar</button>
        <button mat-raised-button>Guardar</button>
    </div>
</div>