<div fxLayout="column">
    <strong>{{categoria.nombre}}</strong>

    <button mat-raised-button (click)="irAlta('0')" class="my-12">Alta</button>

    <table border="1" class="mt-12" *ngIf="!detalle">
        <thead>
          <tr>
              <td>Noticia</td>
              <td>Acciones</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let noticia of listadoNoticias">
              <td>{{noticia.h1}}</td>
              <td>
                  <button mat-flat-button (click)="irAlta(noticia._id)">Editar</button>
                  <button mat-flat-button>Publicar</button>
                  <button mat-flat-button>Eliminar</button>
              </td>
          </tr>
        </tbody>
     </table>
     <div fxLayout="column" *ngIf="detalle">
        <strong>{{noticia.nombre}}</strong>
     </div>
</div>