<strong (click)="salir.emit()">Regresar</strong>
<div fxLayout="column" class="mt-20"  >
    <mat-form-field>
        <mat-label>Dominio:</mat-label>
        <input matInput [(ngModel)]="nicho.general.dominio" placeholder="Dominio">
    </mat-form-field>
    <div class="w-100-p my-20" fxLayout="row" fxLayoutAlign="start center">
        <button mat-raised-button (click)="generarCarpetasNicho()" 
                [disabled]="nicho.general.carpetas.local">
                Generar carpetas contenedoras
            <i class="fa-solid fa-circle-check font-size-20 green-fg" *ngIf="nicho.general.carpetas.local"></i>
        </button>
        <i class="fa-brands fa-dev font-size-20 px-12 pointer" 
           [ngClass]="{'green-fg': nicho.general.carpetas.dev, 'red-fg': !nicho.general.carpetas.dev}"
           (click)="enviarCarpetasDestino('dev')"></i>
        <i class="fa-brands fa-product-hunt font-size-20 pointer" 
           [ngClass]="{'green-fg': nicho.general.carpetas.prod, 'red-fg': !nicho.general.carpetas.prod}"></i>
    </div>
    
    <div fxlayout="column">
        <span>Selecciona el color que tendra la pagina</span>
        <div ngx-colors-trigger
             style="width: 50px;height: 50px;margin:10px"
             [style.background]="nicho.general.background.value"
             [(ngModel)]="nicho.general.background.value"
             [formats]="['hex','rgba']"></div>
    </div>
        
    <div fxLayout="row" fxLayoutAlign="start center">
        <input type="file" id="add-file-button1" #addfilebutton ng2FileSelect
           [uploader]="uploader" hidden />
        <button mat-raised-button (click)="addFiles('1')">
            Adjuntar fuentes
        </button>
        <button mat-raised-button class="ml-12" [disabled]="validarColoresFuentes()" (click)="guardarColorFuenteLocal()">
            <i class="fa-solid fa-circle-check font-size-20"  
               [ngClass]="{'green-fg': nicho.general.background.local, 'red-fg': !nicho.general.background.local}"></i>
        </button>
        <button mat-raised-button class="mx-12" [disabled]="validarColoresFuentes()" (click)="subirColorFuenteDev()">
            <i class="fa-brands fa-dev font-size-20 px-12" 
               [ngClass]="{'green-fg': nicho.general.background.dev, 'red-fg': !nicho.general.background.dev}"></i>
        </button>
        <button mat-raised-button class="px-12">
            <i class="fa-brands fa-product-hunt font-size-20" 
               [ngClass]="{'green-fg': nicho.general.background.prod, 'red-fg': !nicho.general.background.prod}"></i>   
        </button>
    </div>
    <table class="my-20" *ngIf="nicho.general.fuentes.length > 0" border="1">
        <thead>
            <tr>
                <th>Fuente</th>
                <th>Nombre</th>
                <th>Negritas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fuente of nicho.general.fuentes">
                <td class="text-center">
                    {{fuente.file}}
                </td>
                <td class="text-center">
                    {{fuente.name}}
                </td>
                <td class="text-center">
                    <mat-checkbox [(ngModel)]="fuente.negrita"></mat-checkbox>
                    <button mat-icon-button (click)="eliminarFuente(fuente)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div fxLayout="row" fxLayoutAlign="start center"> 
        <button mat-raised-button (click)="subirArchivos()" class="my-20" [disabled]="!nicho.general.background.local">
            Subir archivos proyecto
        </button>
        <button mat-raised-button class="ml-12">
            <i class="fa-solid fa-circle-check font-size-20"  
               [ngClass]="{'green-fg': nicho.general.filesProyecto.local, 'red-fg': !nicho.general.filesProyecto.local}"></i>
        </button>
        <button mat-raised-button class="mx-12" (click)="subirArchivosProyectoDev()">
            <i class="fa-brands fa-dev font-size-20 px-12" 
               [ngClass]="{'green-fg': nicho.general.filesProyecto.dev, 'red-fg': !nicho.general.filesProyecto.dev}"></i>
        </button>
        <button mat-raised-button>
            <i class="fa-brands fa-product-hunt font-size-20" 
               [ngClass]="{'green-fg': nicho.general.filesProyecto.prod, 'red-fg': !nicho.general.filesProyecto.prod}"></i>   
        </button>
    </div>
    
    <div fxLayout="row">
        <button mat-raised-button class="my-20" (click)="addFiles('2')" [disabled]="!nicho.general.background.dev">
            Adjuntar logo del sitio 
        </button>
        <input type="file" id="add-file-button2" #addfilebutton ng2FileSelect
               [uploader]="uploader" hidden accept="image/*" />

        <button mat-raised-button class="ml-12">
            <i class="fa-solid fa-circle-check font-size-20"  
               [ngClass]="{'green-fg': nicho.general.logo?.local, 'red-fg': !nicho.general.logo?.local}"></i>
        </button>
        <button mat-raised-button class="mx-12" (click)="subirLogoDev()">
            <i class="fa-brands fa-dev font-size-20 px-12" 
               [ngClass]="{'green-fg': nicho.general.logo?.dev, 'red-fg': !nicho.general.logo?.dev}"></i>
        </button>
        <button mat-raised-button>
            <i class="fa-brands fa-product-hunt font-size-20" 
               [ngClass]="{'green-fg': nicho.general.logo?.prod, 'red-fg': !nicho.general.logo?.prod}"></i>   
        </button>
    </div>
    
    <div *ngIf="nicho.general.logo">
        <img [src]="'http://localhost:3000/' + nicho.general.logo.fileCMS" class="w-100"/>
    </div>
   
    <div fxLayout="row">
        <button mat-raised-button (click)="addFiles('3')" [disabled]="!nicho.general.background.dev">
            Adjuntar icon del sitio
        </button>

        <input type="file" id="add-file-button3" #addfilebutton ng2FileSelect
              [uploader]="uploader" hidden accept="image/*" />

        <button mat-raised-button class="ml-12">
            <i class="fa-solid fa-circle-check font-size-20"  
               [ngClass]="{'green-fg': nicho.general.icon?.local, 'red-fg': !nicho.general.icon?.local}"></i>
        </button>
        <button mat-raised-button class="mx-12" (click)="subirIconDev()">
            <i class="fa-brands fa-dev font-size-20 px-12" 
               [ngClass]="{'green-fg': nicho.general.icon?.dev, 'red-fg': !nicho.general.icon?.dev}"></i>
        </button>
        <button mat-raised-button>
            <i class="fa-brands fa-product-hunt font-size-20" 
               [ngClass]="{'green-fg': nicho.general.icon?.prod, 'red-fg': !nicho.general.icon?.prod}"></i>   
        </button>
    </div>
    
    <div fxLayout="row" class="mt-8" fxLayoutAlign="start center">
        <button mat-raised-button [disabled]="!nicho.general.logo?.local && !nicho.general.icon?.local" 
                (click)="generarJsonIconLogoLocal()">
            Generar json icon y logo
        </button>
        <button mat-raised-button class="ml-12" >
            <i class="fa-solid fa-circle-check font-size-20"  
               [ngClass]="{'green-fg': nicho.general.jsonLogoIco?.local, 'red-fg': !nicho.general.jsonLogoIco?.local}"></i>
        </button>
        <button mat-raised-button class="mx-12" [disabled]="!nicho.general.jsonLogoIco?.local" (click)="generarJsonIconLogoDev()">
            <i class="fa-brands fa-dev font-size-20 px-12" 
               [ngClass]="{'green-fg': nicho.general.jsonLogoIco?.dev, 'red-fg': !nicho.general.jsonLogoIco?.dev}"></i>
        </button>
        <button mat-raised-button [disabled]="!nicho.general.logo?.prod && !nicho.general.icon?.prod">
            <i class="fa-brands fa-product-hunt font-size-20" 
               [ngClass]="{'green-fg': nicho.general.jsonLogoIco?.prod, 'red-fg': !nicho.general.jsonLogoIco?.prod}"></i>   
        </button>
    </div>
    

    <div fxlayout="column" fxLayoutAlign="start center" class="mt-20">
        <button mat-raised-button (click)="generarRouting()">
            Routing
        </button>

        <button mat-raised-button class="ml-12" >
            <i class="fa-solid fa-circle-check font-size-20"  
               [ngClass]="{'green-fg': nicho.general.routing?.local, 'red-fg': !nicho.general.routing?.local}"></i>
        </button>
        <button mat-raised-button class="mx-12" [disabled]="!nicho.general.routing?.local"
                (click)="subirRoutingDev()">
            <i class="fa-brands fa-dev font-size-20 px-12" 
               [ngClass]="{'green-fg': nicho.general.routing?.dev, 'red-fg': !nicho.general.routing?.dev}"></i>
        </button>
        <button mat-raised-button [disabled]="!nicho.general.routing?.dev">
            <i class="fa-brands fa-product-hunt font-size-20" 
               [ngClass]="{'green-fg': nicho.general.routing?.prod, 'red-fg': !nicho.general.routing?.prod}"></i>   
        </button>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" class="mt-20">
        <button mat-raised-button (click)="salir.emit()">
            Salir
        </button>
    </div>
</div>