<div fxLayout="column">
    <strong class="font-size-20">Categorias</strong>
    <strong class="pointer my-20" (click)="salir.emit();">Regresar</strong>

    <mat-form-field>
        <mat-label>Nombre Categoria</mat-label>
        <input matInput placeholder="Categoria" [(ngModel)]="categoria.h1">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="titulo" [(ngModel)]="categoria.title">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="categoria.menu">Menu</mat-checkbox>
    <mat-form-field>
      <mat-label>Url</mat-label>
      <input matInput placeholder="Url" [(ngModel)]="categoria.url">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="categoria.home">Home</mat-checkbox>

    <div fxLayout="column" class="mb-20" fxLayoutAlign="center end">
        <button mat-raised-button (click)="guardarCategoria()">Guardar</button>
    </div>
    <div fxLayout="column">
        <table border="1">
            <thead>
              <tr>
                  <td>Categoria</td>
                  <td>Ambiente</td>
                  <td>Acciones</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let categoria of listadoCategorias">
                  <td>{{categoria.h1}}</td>
                  <td>
                    <button mat-raised-button class="ml-12">
                        <i class="fa-solid fa-circle-check font-size-20" 
                           [ngClass]="{'green-fg': categoria.local, 'red-fg': !categoria.local}"></i>
                    </button>
                    <button mat-raised-button class="mx-12" [disabled]="!categoria.local" (click)="subirHomeDev(categoria)">
                        <i class="fa-brands fa-dev font-size-20 px-12"
                           [ngClass]="{'green-fg': categoria.dev, 'red-fg': !categoria.dev}"></i>
                    </button>
                    <button mat-raised-button class="px-12" [disabled]="!categoria.dev">
                        <i class="fa-brands fa-product-hunt font-size-20"
                           [ngClass]="{'green-fg': categoria.prod, 'red-fg': !categoria.prod}"></i>   
                    </button>
                  </td>
                  <td *ngIf="!categoria.home">
                      <button mat-flat-button (click)="irListadoNoticias(categoria)">Noticias</button>
                      <button mat-flat-button>Editar</button>
                      <button mat-flat-button>Eliminar</button>
                  </td>
                  <td *ngIf="categoria.home">
                      <button mat-flat-button (click)="irConfigurarHome(categoria)">Configurar</button>
                  </td>
              </tr>
            </tbody>
         </table>
    </div>

</div>