<div fxLayout="column">
    <strong class="font-size-20">Categorias</strong>

    <mat-form-field>
        <mat-label>Nombre Categoria</mat-label>
        <input matInput placeholder="Categoria" [(ngModel)]="categoria.h1">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="titulo" [(ngModel)]="categoria.title">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="categoria.menu">Menu</mat-checkbox>
    <mat-form-field>
      <mat-label>Url</mat-label>
      <input matInput placeholder="Url" [(ngModel)]="categoria.url">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="categoria.home">Home</mat-checkbox>

    <div fxLayout="column" class="mb-20" fxLayoutAlign="center end">
        <button mat-raised-button (click)="guardarCategoria()">guardar</button>
    </div>
    <div fxLayout="column">
        <table border="1">
            <thead>
              <tr>
                  <td>Categoria</td>
                  <td>Acciones</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let categoria of listadoCategorias">
                  <td>{{categoria.h1}}</td>
                  <td *ngIf="!categoria.home">
                      <button mat-flat-button (click)="irListadoNoticias(categoria)">Noticias</button>
                      <button mat-flat-button>Editar</button>
                      <button mat-flat-button>Eliminar</button>
                  </td>
                  <td *ngIf="categoria.home">
                      <button mat-flat-button>Configurar</button>
                  </td>
              </tr>
            </tbody>
         </table>
    </div>

</div>