<div fxLayout="column" *ngIf="!loading">
    <strong>{{nicho.nombre}}</strong>
    <span>{{nicho.descripcion}}</span>
    _______________________________________________________________
    <ng-container *ngIf="idConfiguracion == 0">
        <span class="pointer" (click)="idConfiguracion = 1;">
            Config Dase de Datos
            <span *ngIf="nicho.database?.conexion" style="color: green;">Correcto</span>
        </span>
        <span class="pointer" (click)="idConfiguracion = 2;">Config General del sitio</span>
        <span class="pointer" (click)="idConfiguracion = 3;">Blog</span>
        <span class="pointer">Menu</span>
        <span class="pointer">Footer</span>
        <span class="pointer">Config FTP para subida de archivos</span>    
    </ng-container>
    
    <ng-container [ngSwitch]="idConfiguracion">
        <app-config-bd [nicho]="nicho" *ngSwitchCase="1" (salir)="idConfiguracion = 0"></app-config-bd>
        <app-config-general [nicho]="nicho" *ngSwitchCase="2" (salir)="idConfiguracion = 0"></app-config-general>
        <app-config-blog [nicho]="nicho" *ngSwitchCase="3" (salir)="idConfiguracion = 0"></app-config-blog>
    </ng-container> 


</div>
